<div class="food_wrapper">
    <ng-container *ngIf="foodList && foodList.length>0; else elseBlock">

        <mat-card class="food-card"
            *ngFor="let data of foodList | paginate: { itemsPerPage: limit, currentPage: curentPage, totalItems: total }">
            <mat-card-content>
                <h3 mat-card-title>{{data?.name}}</h3>
                <p mat-card-subtitle>{{data?.category}}</p>
                <p mat-card-text>
                    <span>Rs. {{data?.price}}</span>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="addToCard(data)">Order Now</button>
                <button mat-icon-button>
                </button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
    <ng-template #elseBlock>
        <p *ngIf="!isFoodDataLoading">No Data Available</p>
        <p *ngIf="isFoodDataLoading">Loading...</p>
    </ng-template>
</div>
<div class="pagination_wrapper">
    <pagination-controls previousLabel nextLabel class="news_pagination_content"
        (pageChange)="onPageChange($event)"
        screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"></pagination-controls>
</div>
