/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

.main_container{
    padding-top: 32px;
    padding-bottom: 32px;
    width: 80%;
    margin: 0 auto;
}

.food_wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 24px;
    .image_wrapper{
        position: relative;
        max-height: 200px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    span.discount_price{
        margin-left: 10px;
        text-decoration: line-through;
        font-style: italic;
        color: #777777 !important;
    }
}
.pagination_wrapper{
    padding: 16px;
    padding-bottom: 16px;
}