<div class="selected_item">
    <div class="selected_item__header">
        <div class="selected_item__header_left">
            <h4>Menu List</h4>
        </div>
        <div class="selected_item__header_right">
            <div class="menu_wrapper">
                <h6 (click)="getMenuByCategory('all')" class="menu"
                    [ngClass]="activeCategory=='all' ? 'active':'' ">All</h6>
            </div>
            <div class="menu_wrapper">
                <h6 (click)="getMenuByCategory('appetizers')" class="menu"
                    [ngClass]="activeCategory=='appetizers' ? 'active':'' ">appertisers</h6>
            </div>
            <div class="menu_wrapper">
                <h6 (click)="getMenuByCategory('maincourse')" class="menu"
                    [ngClass]="activeCategory=='maincourse' ? 'active':'' ">main
                    courses</h6>
            </div>
            <div class="menu_wrapper">
                <h6 (click)="getMenuByCategory('beverage')" class="menu"
                    [ngClass]="activeCategory=='beverage' ? 'active':'' ">beverages</h6>
            </div>
        </div>
    </div>
    <div class="selected_item__body">
        <div class="selected_item__body_left">
            <form>
                <div class="form_wrapper">
                    <div class="selected_item__body_left_wrapper">
                        <div class="menu_wrapper">
                            <!-- <h6 mat-button (click)="openDialog()">
                                Momo
                            </h6> -->
                            <h6 data-bs-toggle="modal"data-bs-target="#statusModal" style="cursor: pointer;">
                                Momo
                            </h6>
                            <p class="quantity">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <span>2</span>
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </p>
                            <p>120</p>
                            <p>
                                <b>Rs</b> 240
                            </p>
                        </div>
                        <div class="menu_wrapper">
                            <h6 data-bs-toggle="modal"data-bs-target="#statusModal" style="cursor: pointer;">
                                Momo
                            </h6>
                            <p class="quantity">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <span>2</span>
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </p>
                            <p>120</p>
                            <p>
                                <b>Rs</b> 240
                            </p>
                        </div>
                        <div class="menu_wrapper">
                            <h6 data-bs-toggle="modal"data-bs-target="#statusModal" style="cursor: pointer;">
                                Momo
                            </h6>
                            <p class="quantity">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <span>2</span>
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </p>
                            <p>120</p>
                            <p>
                                <b>Rs</b> 240
                            </p>
                        </div>
                        <div class="menu_wrapper">
                            <h6 data-bs-toggle="modal"data-bs-target="#statusModal" style="cursor: pointer;">
                                Momo
                            </h6>
                            <p class="quantity">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <span>2</span>
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </p>
                            <p>120</p>
                            <p>
                                <b>Rs</b> 240
                            </p>
                        </div>
                    </div>
                    <div class="selected_item__body_left_footer">
                        <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
                            <div>
                                <div class="mb-2">
                                    <input type="text" class="form-control" id="fullname" placeholder="Enter full name" formControlName="full_name">
                                </div>
                                <div class="mb-2">
                                    <input type="text" class="form-control" id="address" placeholder="Enter address" formControlName="address">
                                </div>
                                <div class="mb-2">
                                    <input type="text" class="form-control" id="phone number" placeholder="Phone number" formControlName="phone_number">
                                </div>
                            </div>
                            <hr>
                            <div class="price_wrapper">
                                <p>
                                    <span>Total Qtry : </span> 3
                                </p>
                                <p>
                                    <span>Total Price : </span> <b>Rs.</b> 300
                                </p>
                                <p>
                                    <span>Discount Price : </span> <b>Rs.</b> 50
                                </p>
                                <p>
                                    <span>Net Price : </span> <b>Rs.</b> 250
                                </p>
                            </div> 
                            <hr>
                            <button class="btn btn-md btn-primary" color="primary" type="submit" [disabled]="orderForm.invalid">Order Now</button>
                        </form>
                    </div>
                </div>
            </form>
        </div>
        <div class="selected_item__body_right">
            <div class="category_food_wrapper">
                <ng-container *ngIf="foodList && foodList.length>0; else elseBlock">
                    <mat-card class="food-card" *ngFor="let data of foodList | paginate: { itemsPerPage: limit, currentPage: curentPage,  totalItems: total }">
                        <mat-card-content>
                            <h3 mat-card-title>{{data?.name}}</h3>
                            <p mat-card-subtitle>{{data?.category}}</p>
                            <p mat-card-text>
                                <span>Rs. {{data?.price}}</span>
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>Order Now</button>
                            <button mat-icon-button>
                            </button>
                        </mat-card-actions>
                    </mat-card>
                </ng-container>
                <ng-template #elseBlock>
                    <p *ngIf="!isFoodDataLoading">No Data Available</p>
                    <p *ngIf="isFoodDataLoading">Loading...</p>
                </ng-template>
            </div>
            <div class="pagination_wrapper">
                <ng-container *ngIf="activeCategory=='all', else elseCategoryBlock">
                    <pagination-controls previousLabel=""  nextLabel="" class="news_pagination_content" (pageChange)="onPageChange($event)" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
                </ng-container>
                <ng-template #elseCategoryBlock>
                    <pagination-controls previousLabel=""  nextLabel="" class="news_pagination_content" (pageChange)="onPageChangeCategory($event)" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
                </ng-template>
            </div>
        </div>
    </div>
</div>


<!--Status Modal -->
<div class="modal fade" id="statusModal" tabindex="-1"
    aria-labelledby="statusModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="discountForm" (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h5 class="modal-title" id="statusModalLabel">Add Discount</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" id="closeModal"></button>
                </div>
                <div class="modal-body">
                    <div mat-dialog-content class="mat_dialog">
                        <div class="mat_dilog_wrapper">
                            <div class="mat_dilog_wrapper__left">
                                <div class="mat_dilog_wrapper__left_discount">
                                    <mat-form-field>
                                        <mat-label>Discount in amount</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                                <div class="mat_dilog_wrapper__left_discount">
                                    <mat-form-field>
                                        <mat-label>Discount in percent</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                                <div class="mat_dilog_wrapper__left_discount">
                                    <button mat-raised-button color="primary" type="submit" >Save</button>
                                </div>
                            </div>
                            <div class="mat_dilog_wrapper__right">
                                <div>
                                    <button mat-icon-button>
                                        <mat-icon>add</mat-icon>
                                    </button>
                    
                                    <button mat-icon-button>
                                        <mat-icon>remove</mat-icon>
                                    </button>
                                </div>
                                <div class="button_wrapper">
                                    <button mat-dialog-close mat-button color="accent" (click)="closeModal()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>